# ip which is used in dns responses for blocked domains
# (usually public ip of the host where the containers are started)
PIXELSERV_IP=127.0.0.1

# comma separated string of domains which should be blocked
DOMAIN_BLACKLIST=

# comma separated string of domains which should not be blocked
DOMAIN_WHITELIST=

# comma separated string of urls to adblocklists
# line breaks won't work (https://github.com/docker/compose/issues/3527)

# simple blocklists which use one domain per line
BLOCKLISTS_SIMPLE=https://s3.amazonaws.com/lists.disconnect.me/simple_ad.txt,https://s3.amazonaws.com/lists.disconnect.me/simple_malvertising.txt,https://s3.amazonaws.com/lists.disconnect.me/simple_malware.txt

# adblock plus filter lists
BLOCKLISTS_ABP=https://filters.adtidy.org/extension/chromium/filters/15.txt,https://raw.githubusercontent.com/uBlockOrigin/uAssets/master/filters/badware.txthttps://raw.githubusercontent.com/uBlockOrigin/uAssets/master/filters/filters.txt,https://raw.githubusercontent.com/uBlockOrigin/uAssets/master/filters/resource-abuse.txt

# blocklists in hosts-file format
BLOCKLISTS_HOSTS=
